* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, #D9DBD5 80%, #009688 20%) fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 80%;
    height: 95%;
    background-color: burlywood;
    /* clearfix */
    content: "";
    display: table;
    clear: both;
    /* / clearfix */
}

/* block left inside wrapper  */
.wrapper .block_left {
    width: 40%;
    height: 100%;
    background-color: crimson;
    float: left;
}
/* / block left inside wrapper  */


/* block right inside wrapper  */
.wrapper .block_right {
    width: 60%;
    height: 100%;
    background-color:rgb(233, 25, 25);
    float: right;
}
/* / block right inside wrapper  */


/* elements inside block left */

/* main_user */
.wrapper .block_left #main_user {
    width: 100%;
    height: 9%;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .block_left #main_user .img_text_cont {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.wrapper .block_left #main_user .icons {
    margin: 15px;
}

.wrapper .block_left #main_user .icons i {
    margin: 8px;
    color: grey;
}

.wrapper .block_left #main_user .img_text_cont .img_cont {
    width: 45px;
    height: 70%;
}


.wrapper .block_left #main_user .img_text_cont .img_cont img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.wrapper .block_left #main_user .img_text_cont span {
    margin-left: 5px;
}
/* / main_user */


/* notifications */
.wrapper .block_left #notifications {
    width: 100%;
    height: 10%;
    background-color: #8EDAFC;
}

.wrapper .block_left #notifications .bell_notifications_cont {
    height: 100%;
    display: flex;
    align-items: center;
}

.wrapper .block_left #notifications .bell_notifications_cont .bell_cont {
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 50px;
}

.wrapper .block_left #notifications .bell_notifications_cont .bell_cont i {
    color: #8EDAFC;
}

.wrapper .block_left #notifications .bell_notifications_cont span {
    font-size: 13px;
}
/* / notifications */


/* searchbar */
.wrapper .block_left #searchbar {
    width: 100%;
    height: 7%;
    padding: 10px;
    background-color: white;
}

.wrapper .block_left #searchbar .wrap_searchbar {
    width: 100%;
    height: 100%;
    display: flex;
}

.wrapper .block_left #searchbar .wrap_searchbar .search_cont {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-right: none;
}

.wrapper .block_left #searchbar .bar_cont {
    width: 100%;
    height: 100%;
}

.wrapper .block_left #searchbar .bar_cont input {
    width: 99%;
    height: 100%;
    border: 1px solid lightgray;
    outline: none;
}
/* / searchbar */


/* users */
.wrapper .block_left #users {
    width: 100%;
    height: 74%;
    background-color: rgb(49, 115, 182);
}

.wrapper .block_left #users .img_text_cont {
    display: flex;
    align-items: center;
    padding-top: 10px;
    margin-left: 10px;
}

.wrapper .block_left #users .img_text_cont .img_cont {
    width: 45px;
    height: 70%;
}


.wrapper .block_left #users .img_text_cont .img_cont img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.wrapper .block_left #users .img_text_cont span {
    margin-left: 5px;
}
/* / users */

/* / elements inside block left */


/* elements inside block right  */
.wrapper .block_right #interlocutor {
    width: 100%;
    height: 9%;
    background-color: rgb(165, 159, 73);
}

.wrapper .block_right #chat {
    width: 100%;
    height: 82%;
    background-color: rgb(73, 147, 165);
}

.wrapper .block_right #message_bar {
    width: 100%;
    height: 9%;
    background-color: orangered;
}
/* / elements inside block right */